/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    width: 300px;
    text-align: center;
    padding: 20px 40px;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 30px; /* Adjust logo size as needed */
    height: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #a9a9a9;
    
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color:#5d12d2;
    color: white;
    border: none;
    width: 105%;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkpurple;
  }
  
  a {
    display: block;
    margin-top: 20px;
    color: gray;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  